// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


$primary: #81899b;
$lines: #f8fafc;
$accent: #302e24;
$warn: #f2ac4d;
$primary-green: #2dad65; 
$light-success: #f5fbf8;
$light-danger: #fdf5f6;